@import './reset.scss';
$radio:37.5;
@function px2rem($px){
    @return $px/$radio +rem ;
};
@mixin center{
    display: flex;
    justify-content: center;
   align-items: center;
}
.slide-up-enter,
.slide-up-leave-to {
  transform: translate3d(0, 100%, 0);
}
.slide-up-enter-to,
.slide-up-leave {
  transform: translate3d(0, 0, 0);
}
.slide-up-enter-active,
.slide-up-leave-active {
  transition: all 0.3s linear;
}